

i:hover{
  color:#ff4e49;
}

body {
	color: #272727;
	margin: 0;
	font: 1.2em/1.5 'Oswald', sans-serif;
	text-align:center;
	font-weight: lighter;

}

/*h1,
h2,
h3,
.company
 {  		
 	font: 1.2em/1.5 'Oswald', sans-serif;
}*/

h2 {
	color: #ff4e49;
	text-transform: uppercase;
	font-size: 25px; 
	display: inline-block;
	padding: 0 9px 3px;
	margin-bottom: 50px;
	margin-top: 60px;
}

h3 {

	padding-top: 50px;
}

a {
  color: #272727;
  text-decoration: none;
}

a:hover{
  color:#ff4e49;
  text-decoration: none;
}

header {
  height: 600px;
  text-align: center;
  background-color: #f7f5f5;
}

ul {

	list-style-position:inside;
}

li{
  list-style: none;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

/*Header styles*/
.home-title{
  font-size: 5.625rem; /* 26px/16px */
  font-weight: bolder;
  padding: 140px 120px 0px 120px;
}

.home-title2{
	font-size: 5.625rem;
	font-weight: bolder;
}

.home-subtitle {
  font-size: 2rem; /* 32px/16px  */
  font-weight: lighter;
}

.navbar{
  font-size: 2rem;
  display: block;
}

.statement{
	font-size: 3.875rem;
	padding: 5% 15%;

}

/*Main styles*/

.primary {
	padding-top: 10px;
 	padding-bottom: 95px;
 	padding-left: 150px;
    padding-right: 150px;
 	line-height: 1.7;
}

.primary
.secondary
.third
.fourth {
  width: 75%;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  max-width: 960px;

}

.fourth{
	padding-top: 80px;
    padding-bottom: 70px;
    
}
.t-border{
	 border-top: 1.2px solid #CDCFD3;
}

.list {
	text-align: left;

}

.list-item {
	text-transform: uppercase;
	padding-top: 50px;
}

.list-item img{
	width: 70%;
}

.company {
	 font-style: italic;

}


.list-info {
  margin: 0;
  font-size: 1em;
  text-transform: none;
  padding-top: 5%;
 
}

.line1{
 	width: 350px;
 	border-bottom: 2px solid #dfe2e6;
 	margin: 0 auto;

}

.line2 {

	width: 500px;
	border-bottom: 10px solid #272727;
	padding-top: 50px;
	margin: 0 auto;
}

.line {
	width: 200px;
	border-bottom: 3px solid #dfe2e6;
	padding-top: 50px;
	margin: 0 auto;

}

.main-footer{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #CDCFD3;
}

.copyright {
	font-size: .7em;
	padding-top: 50px;
}

